# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
Cahier des Charges Application Caisse FoodTech.txt
supabase_schema.sql

# documentation / research
french restaurant payment methods explained.md

migration_patch.sql
poslocal-first: archittecture p2p offline.md
pos_logs_rows.csv
handoff_documentation.md
prompt_website_integration.md
pos_logs_rows_error.csv
image01.jpeg
check_logs.js
/voip-server
build_error.log
DEPLOYMENT_VOIP.md
gemini.md
pos_logs_rows (1).csv
pos_logs_rows (2).csv
IMG_0756.MOV
